<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<!--titulo-->
    <ion-col class="cabeza">
      <ion-row class="ion-text-center">
        <ion-title>
         <h1 class="titulo">SkeletonAPP</h1> 
        </ion-title>
      </ion-row>
      <ion-row class= "ion-justify-content-center" >
        <h6 class="subtitulo">Aqui comienza todo</h6>
      </ion-row>
    </ion-col>

<!--subtitulo-->
  <ion-col class="cuerpo">
    <ion-row class= "ion-text-center">
      <ion-title>
        <h2>Bienvenido!</h2>
      </ion-title>
    </ion-row>
  </ion-col>

<!--usuario y contraseña-->
  <ion-col>
    <ion-row >
      <ion-input label="Usuario" labelPlacement="floating" [counter]="false" fill="solid" maxlength="8" minlength ="3"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input
      label="Contraseña"
      type ="password"
      labelPlacement="floating"
      [counter]="false"
      fill="solid"
      maxlength="4"
      ></ion-input>
    </ion-row>
  </ion-col>

  <ion-button class="btn" [routerLink]="['/home']" expand="block" color= "dark" fill="outline">Ingresar</ion-button>



</ion-content>
