h1.titulo{
    margin-bottom: 0;
    font-size: xx-large;
}

h6.subtitulo{
    margin-top: 0;
    font-size: small;
}

ion-input{
     margin: 2vh;
}

ion-button.btn{
    border-radius: 5px;
    margin: 2vh;
}
